
.banner {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(to right, blue, darkblue);
}

.btn {
    background-color: cornflowerblue;
    width: 300px;
    align-items: center;


}

.city {
    width: 300px;
    position:relative
    
}

#search {

    justify-content: flex-start;
    position: relative;
    left: -100px;
    top: 10px;

}

#search:hover {
    box-shadow: 0 8px 16px 0 rgba(black);
}



.col-8 {
    font-weight: bold;
    justify-content: flex-start;
    position:relative
    
}

#dailyTemp {
    border-color: black;
    border: black;
}

